@media (max-width: 1000px) {
	.header__wrap .header__nav {
		flex: 0 1 70%;
	}
	.header__wrap .header__nav .header__nav-list {
		flex: 0 1 70%;
	}
	.main {
		background: linear-gradient(
				rgba(255, 255, 255, 0.8),
				rgba(255, 255, 255, 0.8)
			),
			url(./img/bg_main.png) no-repeat right;
		background-size: contain;
	}
	.header {
		background-color: rgba(255, 255, 255, 1);
		padding-bottom: 20px;
	}
}

@media (max-width: 700px) {
	.header__wrap .header__wrap-img {
		flex: 0 1 25%;
	}

	.main__features-list {
		width: 470vw;
		margin-top: calc(-230 / 1660 * 100%);
	}
	.main__features-item {
		min-width: 30vw;
	}
	.header__wrap .header__nav .header__nav-item-bt {
		padding: 1px 0;
		width: 25%;
	}
	.main__features-list {
	}
	.history__main-list {
		flex-wrap: wrap;
		@include flex(column, center, center);

		.history__main-item {
			min-width: 300px;
			flex: 1;
			text-align: center;
		}
	}
	.history__main-list .history__main-item:first-child .history__main-wrap {
		@include flex(row, center, center);
	}
	.history__main-list .history__main-item:last-child .history__main-txt {
		padding-top: 20px;
		margin-bottom: 10px;
	}
	.history__main-list .history__main-item:first-child .history__main-wrap {
		margin-bottom: 1%;
	}

	@keyframes news {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-235vw);
		}
	}
	.services__main {
		.services__main-list {
			grid-template-columns: repeat(1, 1fr);
			row-gap: 0;
			> div {
				margin-bottom: 10px;
			}
			div:last-child {
				margin-bottom: 0;
			}
		}
	}
}
