@import "reset";
@import "fonts";
@import "variables";

.content {
	background: #f5f5f5;
	@extend %font;
	overflow: hidden;
}

._container {
	max-width: 1070px;
	margin: 0 auto;
	height: 100%;
	padding: 0 5px;
}

.container_header {
	width: 1440px;
	margin: 0 auto;
	height: 100%;
	padding: 0 calc(80 / 1440 * 100%);
	width: 100%;
}

.header__wrap {
	@include flex(row, center, space-between);
	padding: 25px 0;
	margin-bottom: calc(40 / 1440 * 100%);
	.header__wrap-img {
		flex: 0 1 30%;
		@include flex(row, center, stretch);
		.header__img:last-child {
			padding-left: 10px;
			&:hover {
				@extend %hover_icon;
			}
		}
	}
	.header__nav {
		@include flex(row, center, space-between);
		flex: 0 1 60%;
		color: #161513;
		@include font_propeties(calc(8px + 0.7vw), calc(24 / 16 * 100%));
		.header__nav-list {
			@include flex(row, center, space-between);
			flex: 0 1 30%;
			.header__nav-item {
				transition: 0.5s;
				border-bottom: 1px solid #252524;
				&:hover {
					@extend %hover_link;
					border-bottom: 1px solid #161513;
				}
			}
		}
		.header__nav-item-bt {
			width: calc(126 / ((1440 - 160) * 0.6) * 100%);
			padding: 8px 0;
			border-radius: 0;
			border: 1px solid #161513;
			color: #161513;
			&:hover {
				@extend %hover_icon;
			}
		}
	}
}

.main {
	@include flex(column, stretch, stretch);
	background: url(./img/bg_main.png) no-repeat right;
	background-size: contain;
	letter-spacing: 0.56px;

	.main_container {
		@include flex(column, stretch, stretch);
		@include font_propeties(calc(25px + 1.6vw), calc(64 / 56 * 100%));
		padding: calc(105 / 1440 * 100%);
		> * {
			margin-bottom: 4px;
		}
		> *:last-child {
			margin-bottom: 0;
		}
		.main_title {
			font-size: inherit;
		}
		.main_sub-wrap {
			@include flex(row, stretch, stretch);
			flex-wrap: wrap;
			.main_sub-img {
				padding: 0 calc(12 / 1440 * 100%);
			}
		}
		.main_sub-features {
			@include flex(row, stretch, stretch);
			@include font_propeties(calc(15px + 0.6vw), calc(32 / 23 * 100%));
			padding-top: calc(35 / 1440 * 100%);
			flex-wrap: wrap;
			.main_sub-img {
				padding: 0 10px;
			}
		}
		.main_bts {
			@include flex(row, stretch, stretch);
			@include font_propeties(calc(12px + 0.3vw), calc(24 / 16 * 100%));
			padding-top: calc(40 / 1440 * 100%);
			color: #161513;
			> * {
				padding: calc(13 / 1060 * 100%) calc(33 / 1060 * 100%);
				transition: 0.3s;
				border-radius: 0;
				border: 1px solid #161513;
				&:hover {
					@extend %hover_icon;
				}
			}
			.main_bt-wrap:first-child {
				background-color: #161513;
				color: #ffffff;
			}
		}
	}
}

.main__features {
	padding-top: calc(50 / 1440 * 100%);
	padding-bottom: calc(200 / 1440 * 100%);
}
.main__features-list {
	background: #161513;
	@include flex(row, center, space-between);
	flex-wrap: nowrap;
	color: #ffffff;
	overflow: hidden;
	width: 210vw;
	transform: rotate(-4.93deg);
	margin-left: -15px;
	position: relative;
	&:hover .main__features-item {
		animation-play-state: paused;
	}
	.main__features-item {
		@include flex(row, center, stretch);
		flex: 1 1 auto;
		animation: news 30s infinite linear;
		min-width: 10vw;
		animation-play-state: running;
		.main__features-item-link {
			color: #ffffff;
			padding-right: 10px;
			@include font_propeties(calc(7px + 0.7vw), calc(24 / 8 * 100%));
			&:hover {
				@extend %hover_link;
				color: rgb(212, 195, 169);
			}
		}
	}
}

@keyframes news {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-105vw);
	}
}

.history_container {
	@include flex(column, center, space-between);
}

.history__main-list {
	@include flex(row, stretch, space-between);
	margin-bottom: calc(122 / 1060 * 100%);
	width: 100%;

	.history__main-item:first-child {
		@include flex(column, stretch, stretch);
		flex: 0 1 calc(380 / 1060 * 100%);
		.history__main-wrap {
			@include flex(row, center, stretch);
			@include font_propeties(calc(12px + 0.8vw), calc(32 / 23 * 100%));
			margin-bottom: calc(21 / 380 * 100%);
			.history__star {
				padding: 0 10px;
			}
		}
		.history__description {
			@include font_propeties(calc(30px + 1.5vw), calc(64 / 56 * 100%));
			letter-spacing: 0.56px;
			font-weight: 400;
		}
	}
	.history__main-item:last-child {
		@include flex(column, stretch, space-between);
		flex: 0 1 calc(598 / 1060 * 100%);
		.history__main-txt {
			@include font_propeties(calc(16px + 1vw), calc(40 / 31 * 100%));
			letter-spacing: 0.64px;
			margin-bottom: calc(36 / 598 * 100%);
		}
		.history__sub-txt {
			@include font_propeties(calc(12px + 0.5vw), calc(32 / 18 * 100%));
			margin-bottom: calc(27 / 598 * 100%);
		}
		.history__features-list {
			@include flex(row, center, space-between);
			.history__features-item {
				@include flex(column, stretch, space-between);
				flex: 1 1 20%;
				.history__features-name {
					color: #e94d35;
					@include font_propeties(calc(10px + 0.2vw), calc(16 / 12 * 100%));
					margin-bottom: calc(9 / 598 * 100%);
				}
				.history__features-value {
					@include font_propeties(calc(14px + 0.6vw), calc(32 / 23 * 100%));
				}
			}
		}
	}
}

.history__results-basic {
	@include flex(row, stretch, stretch);
	width: 100%;
	border: 2px solid #332f29;

	.history__results-item {
		@include flex(column, center, center);
		flex: 1;
		text-align: center;
		padding: calc(23 / 1060 * 100%) 0;

		:first-child {
			@include font_propeties(calc(26px + 2vw), calc(64 / 56 * 100%));
		}
		:last-child {
			@include font_propeties(calc(7px + 0.7vw), calc(32 / 16 * 100%));
			text-transform: uppercase;
		}
	}
	.history__results-item:nth-child(2) {
		color: #ffffff;
		background: #161513;
	}
}

.title {
	@include flex(column, center, center);
	padding: calc(120 / 1060 * 100%) 0 calc(60 / 1060 * 100%) 0;
	letter-spacing: 1.44px;
	.title__name {
		@include font_propeties(calc(20px + 1.7vw), calc(56 / 45 * 100%));
		padding: calc(22 / 1060 * 100%) 0 calc(9 / 1060 * 100%) 0;
	}
	.title__sub-txt {
		@include font_propeties(calc(14px + 0.2vw), calc(32 / 18 * 100%));
	}
}

.awards__list {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	div {
		margin-bottom: calc(24 / 1060 * 100%);
	}
	div:last-child {
		margin-bottom: 0;
	}
	.awards__item-wrap {
		@include flex(row, stretch, space-between);
		padding: calc(38 / 1060 * 100%) calc(34 / 1060 * 100%);
		border: 2px solid #161513;
		.awards__item {
			@include flex(row, center, stretch);
			flex: 0 1 48%;
			.awards__team-number {
				@include flex(row, center, center);
				padding: calc(6 / 395 * 100%) calc(23 / 395 * 100%);
				background: #e94d35;
				margin-right: calc(24 / 395 * 100%);
				@include font_propeties(calc(14px + 0.2vw), calc(32 / 18 * 100%));
				color: #ffffff;
			}
			.awards__team-wrap {
				@include flex(column, stretch, stretch);
				.awards__team-name:first-child {
					@include font_propeties(calc(10px + 0.8vw), calc(32 / 23 * 100%));
				}
				.awards__team-name:last-child {
					@include font_propeties(calc(8px + 0.7vw), calc(32 / 18 * 100%));
				}
			}
		}
		.awards__team-date {
			@include flex(row, center, flex-end);
			@include font_propeties(calc(8px + 0.6vw), calc(32 / 18 * 100%));
			flex: 0 1 48%;
			p:first-child {
				margin-right: calc(16 / 296 * 100%);
			}
		}
	}
}

@import "media";
